/* General CSS */

* {
  box-sizing: border-box;
}

body,
header,
.navbar,
#skills,
#projects,
#quote,
#finale {
  background-color: #4E6C50;
}

/* Navbar CSS */

.navbar-brand,
.nav-link {
  color: #C97D60;
  transition: all 0.3s ease;
  font-size: larger;
  font-family: "Fugaz One";
}

.navbar-brand:hover,
.navbar-brand:active,
.nav-link:hover,
.nav-link:active,
.badge-pill:hover,
.badge-pill:active {
  color: #B6BE9C;
}

.badge-pill {
  color: #4E6C50;
  background-color: #C97D60;
  font-family: "Fugaz One";
}

/* Specifically started off as just Hero CSS, but now applies to site as a whole */

#intro {
  margin-top: 50px;
}

h2 {
  color: #C97D60;
  font-family: "Fugaz One";
}

p {
  color: #B6BE9C;
  font-size: larger;
  font-family: "Paytone One";
}

img {
  width: 400px;
  height: auto;
}

.img-fluid {
  display: flex;
  max-width: 80%;
  height: auto;
  align-items: center;
  justify-content: flex-end;
}

/* Skills CSS */

li {
  font-size: larger;
  font-family: "Paytone One";
  color: #B6BE9C;
}

/* Projects CSS */

.card-title,
.btn-secondary {
  color: #C97D60;
  font-family: "Fugaz One"; 
}

/* Bottom half-specific CSS */

.mb-0,
cite,
.p-3 {
  font-size: larger;
  font-family: "Fugaz One";
}

.shadow-1-strong {
  width: 250px;
  height: 250px;
}